{% extends "base.html %}
{% block content %}
<div class="forms", id="signup_form">

    <form action="{{ url_for('add_newuser') }}" method="POST">
        {{ newuser_form.csrf_token() }}
        {{ newuser_form.username.label }}
        {{ newuser_form.username }}<br>
        {{ newuser_form.password.label }}
        {{ newuser_form.password }}<br>
        {{ newuser_form.user_email.label }}
        {{ newuser_form.user_email }}<br>
        {{ newuser_form.submit }}
    </form>
</div>
<div class="forms", id ="login_form">
    <form action="{{ url_for('login') }}" method="POST">
        {{ form.csrf_token() }}
        {{ form.username.label }}
        {{ form.username }}
        {{ form.password.label }}
        {{ form.password }}
        {{ form.submit }}
    </form>
</div>
{% endblock%}









